.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

div.gauche {
  float: left;
}

div.right {
  text-align: right;
}

ResponsiveContainer.back {
  background-color: turquoise;
}

.bb {
  border-width:1px;
  border-style:solid;
  border-color:black;
  border-radius: 20px;
  background-color: white;
  }
  
.bab {
border-width:1px;
border-style:solid;
border-color:black;
border-radius: 10px;
background-color: turquoise;
}

section.bg {
  /* l'image utilisé */
  background-image: url("https://www.aquaportail.com/pictures1806/animalerie.jpg");

  /* En Full height */
  height: 100%;

  /* Pour centrer l'image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}